html {
  background: black;
}

div {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
}

img {
  width: 100%;
  border: 5px solid white;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}
